.dropdown-container {

}

.dropdown-item {
    height: 100px;
    font-size: 25px;
    display: flex;
    align-items: center;
    border: black solid 1px;
    width: 100%;
}

.dropdown-item:hover {
    cursor: pointer;
}

.track-name {
    margin-left: 5px;
}