.note-card {
    height: 300px;
    width: 300px;
    background: lightblue;
}

.note {
    display: flex;
    flex-wrap: wrap;
}

.track-cards-container {
    display: flex;
    flex-wrap: wrap;
}

.track-card {
    width: 250px;
    height: 250px;
    background-color: purple;
    border: solid blue 1px;
    margin: 10px 25px;
}